// .user-form {
//   max-width: 300px;
//   margin-left: -60px;
// }

.profile-name {
  display: flex;
  justify-content: center;
  text-align: center;
}
.profile-detail-cont{
  margin-bottom: 0;
}
.user-form {
  display: block;
  justify-content: center;
  align-items: center;
}
.skeleton-center{
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
.mb-10{
  margin-bottom: 10px;
}